body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.instruction {
    color: rgb(13, 138, 13);
}

button {
    height: 55px;
    width: 110px;
    border-radius: 5px;
    background-color: rgb(17, 158, 17);
    color: white;
    border: none;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    outline: none;
    margin: 7px;
    transition: all 0.1s ease;
}

.selected {
    transform: scale(1.1);
    background-color: rgb(13, 138, 13);
}

#moves {
    flex-wrap: wrap;
}

#score {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#score p {
    padding: 0 15px;
}
